:host {
  display: block;
  font-size: var(--card-description-font-size, 14px);
  line-height: var(--card-description-line-height, 1.5);
  color: var(--card-description-color, var(--ui-muted-foreground));
  
  // Dark mode
  
}
