:host {
  display: inline-flex;
}

.breadcrumb-separator {
  display: inline-flex;
  align-items: center;
  color: var(--breadcrumb-separator-color, var(--ui-muted-foreground));
  user-select: none;

  

  svg {
    width: 16px;
    height: 16px;
  }
}
