:host {
  display: inline-flex;
}

.breadcrumb-separator {
  display: inline-flex;
  align-items: center;
  color: var(--breadcrumb-separator-color, #71717a);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    color: var(--breadcrumb-separator-color, #a1a1aa);
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
