:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}