.accordion {
  border-radius: var(--accordion-radius, var(--ui-border-radius));
  border: 1px solid var(--accordion-border, var(--ui-border));
  width: 100%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  
  &[data-type="single"] {
    ui-accordion-item:not(:last-child) {
      border-bottom: 1px solid var(--accordion-border, var(--ui-border));
      transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

