:host {
  display: inline-flex;
}

.breadcrumb-page {
  color: var(--breadcrumb-page-color, #71717a);
  font-weight: 400;
  cursor: default;

  @media (prefers-color-scheme: dark) {
    color: var(--breadcrumb-page-color, #a1a1aa);
  }
}
