.aspect-ratio-container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: var(--radius);
  
  .aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    img, video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}