:host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 24px;
}

// Mobile: stack buttons vertically
@media (max-width: 425px) {
    :host {
        flex-direction: column-reverse;

        ::ng-deep ui-button {
            width: 100%;
        }
    }
}