:host {
  display: block;
  position: relative;
  width: var(--carousel-width, 100%);
  overflow: hidden;
}

:host[data-orientation="vertical"] {
  height: var(--carousel-height, 400px);
}

.ui-carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}
