:host {
  display: contents;
}

.trigger-wrapper {
  display: inline-block;
  cursor: pointer;
}

.alert-dialog-portal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}