<button
  type="button"
  role="checkbox"
  [id]="id"
  [attr.aria-checked]="checked"
  [attr.aria-required]="required"
  [attr.data-state]="indeterminate ? 'indeterminate' : checked ? 'checked' : 'unchecked'"
  [attr.data-disabled]="disabled ? '' : null"
  [disabled]="disabled"
  [value]="value"
  (click)="toggle($event)"
  (blur)="onTouched()"
  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
>
  <span *ngIf="checked && !indeterminate" class="flex items-center justify-center text-current">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-4 w-4"
    >
      <polyline points="20 6 9 17 4 12"></polyline>
    </svg>
  </span>
  <span *ngIf="indeterminate" class="flex items-center justify-center text-current">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-4 w-4"
    >
      <line x1="5" y1="12" x2="19" y2="12"></line>
    </svg>
  </span>
</button>
