:host {
    display: block;
}

.alert-title {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.01em;
    color: inherit;
}