:host {
  flex: 0 0 var(--carousel-item-basis, 100%);
  min-width: 0;
  min-height: 0;
  padding-left: var(--carousel-item-padding-left, 0);
  padding-top: var(--carousel-item-padding-top, 0);
}

:host-context([data-orientation="vertical"]) {
  flex: 0 0 var(--carousel-item-basis, 100%);
}
