:host {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.ui-carousel-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: var(--carousel-transition, transform 300ms ease-in-out);
  margin-left: var(--carousel-content-margin, 0);
}

:host-context([data-orientation="vertical"]) .ui-carousel-content-wrapper {
  flex-direction: column;
  margin-left: 0;
  margin-top: var(--carousel-content-margin, 0);
}
